@{
    ViewData["Title"] = "Index";
}

<div class="layui-fluid" id="LAY-component-grid-all">

    <div class="layui-row layui-col-space10">
        <div class="layui-col-xs6 layui-col-sm5 layui-col-md3">
            <div class="layui-card">
                <div class="layui-card-header">部门</div>
                <div class="layui-card-body">
                    <ul id="DepartTree"></ul>
                </div>
            </div>
        </div>
        <div class="layui-col-xs6 layui-col-sm7 layui-col-md9">
            <div class="layui-card">
                <div class="layui-card-header">用户</div>
                <div class="layui-card-body">
                    <div style="padding-bottom: 10px;">
                        <button class="layui-btn layuiadmin-btn-admin" id="DepartAdd" data-type="add">添加部门</button>
                        <button class="layui-btn layuiadmin-btn-admin" id="DepartDel" data-type="del">删除部门</button>
                        <button class="layui-btn layuiadmin-btn-admin" id="DepartBind" data-type="bind">绑定用户</button>
                    </div>
                    <div class="grid-demo">
                        <table class="layui-hide" id="Datatables" lay-filter="Datatables"></table>
                        <input type="hidden" id="DepId" name="DepId" />
                        <script type="text/html" id="toolbarDemo">
                            <div class="layui-btn-container">
                                @*<button id="AddCode" name="AddCode" class="layui-btn layui-btn-sm" onclick="AddCode(0)">添加编码</button>
                                    <button id="AddCode" name="AddCode" class="layui-btn layui-btn-sm" onclick="AddCode(1)">修改编码</button>
                                    <button id="AddInfo" name="AddInfo" class="layui-btn layui-btn-sm" onclick="AddInfo(0)">添加信息</button>*@
                            </div>

                        </script>

                        <script type="text/html" id="barDemo">
                            <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
                            <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 选择角色的按钮 -->
@section Scripts{
    <script src="/Scripts/Department.js" type="text/javascript"></script>
}
@section Css{
    <link href="/src/layuiadmin/modules/dtree/dtree.css" rel="stylesheet" />
    <link href="/src/layuiadmin/modules/dtree/font/iconfont.css" rel="stylesheet" />
}